body {
  background-color: rgb(33,33,33);
  font-family: "Roboto";
  text-rendering: optimizeLegibility;

}


.containerTest {
  width: 40rem;
  height: 40rem;
  background-color: #303030;
  box-shadow: 0px 4px 15px black;
  margin: 0 auto;
}

/* .playerFooter{
  width: 100%;
  height: 20px;
  background-color: white;
  position: fixed;
  bottom: 0;
  margin: 0 auto;
} */

/* .footer {
  width: 100%;
  height: 25px;
  background-color: rgb(255, 255, 255);
} */

.artistContainer {
  width: 40rem;
  height: 40rem;
  background-color: rgba(255, 255, 255, 0.897);
  margin: 0 auto;
  border: 1px solid white;
  
}



#albumArt {
  max-width: 25rem;
  max-height: 25rem;
  margin: 0 auto;
  box-shadow: 0px 5px 8px black;
  position: relative;
  left: 18%;
  
}

.fas{
  background: -webkit-gradient(linear, left bottom, right top, from(rgba(161, 161, 161, 0.432)), to(rgba(255, 255, 255, 0.61)));
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  margin: 2px;
  
}



#loginLogo {
  width: 18%;
  min-width: 125px;

  
}


#loginContainer {

  width: 100%;
  height: 100vh;
  

}

#formContainer {
  margin: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  color: rgb(255, 255, 255);
  
}

#custom-switch {
  background-color: red;
}

#radioBox {
margin: 5px;
border: 1px solid rgba(0, 0, 0, 0.199);
padding: 5px;
}

#videoBackground {
  
  height: auto;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translateX(-50%) translateY(-50%);
  min-width: 100%;
  min-height: 100%;
  z-index: -1;
  filter: blur(1px)
  brightness(30%)
  saturate(.3);
  background-color: rgb(255, 255, 255);
 
  
}

#centerDiv {
  background-color: #000000;
  height: 100%;
  
}

/* html {
  background-color: #303030;
} */

.subscriptionDiv{
  background-color: rgba(255, 255, 255, 0.123);
  height: 50vh;
  border-radius: 15px;
  border: 1px solid white;
  margin-top: 15%;
  text-align: center;
  max-height: 500px;
  
}

.innerContainer {
  border: 1px solid rgba(255, 255, 255, 0.507);
  background-color: rgba(223, 223, 223, 0.712);
  height: 90%;
  border-radius: 10px;
  margin: 5% auto;
  
}
.subscriptionDiv:hover {
  box-shadow: 0px 0px 25px rgba(27, 99, 255, 0.301);
  cursor: pointer;
  border: 1px rgb(133, 81, 255) solid;
  background-color: rgb(255, 255, 255);
  text-shadow: 0px 0px 5px rgba(0, 10, 36, 0.637);
  transition: 1s;
 
}